.note-card__textbox {
  cursor: default;
  font-family: "Roboto", "Times New Roman", serif;
  padding: 12px 15px 20px 15px;
}

.note-card__textbox:focus {
  outline: none;
}

.note-card__textbox--font-size-0 {
  font-size: 48px;
  font-weight: 100;
  line-height: 60px;
}

.note-card__textbox--font-size-1 {
  font-size: 36px;
  font-weight: 100;
  line-height: 48px;
}

.note-card__textbox--font-size-2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.note-card__textbox--font-size-3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.note-card__textbox:empty:before {
  cursor: text;
  content: attr(data-placeholder);
}

.note-card__textbox[contenteditable="true"] {
  font-size: 14px;
  line-height: 19px;
  min-height: 46px;
}

/* attribute check for extra specificity on min-height */
.note-card__textbox--editable[contenteditable="true"] {
  color: rgba(0, 0, 0, 0.54);
  min-height: 1px;
  cursor: text;
}
