@import "./reset.scss";

.invisible {
  display: none;
}

.app__header {
  background: linear-gradient(to left, #85ff83, #FFC371);
  margin-bottom: 20px;
  height: 64px;
  width: 100vw;
}

.left__column {
  float: left;
  height: 100vh;
  width: 15vw;
}

.content {
  float: left;
  width: 75vw;
}